<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true"/>
      <switches>
        <add name="SourceSwitch" value="Information" />
        <!-- You can turn tracing off -->
        <!--add name="SourceSwitch" value="Off" -->
      </switches>
      <sources>
        <source name="Diagnostics" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
          <listeners>
            <add name="MonitoringAgent" />
            <remove name ="Default" />
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <!-- initializeData field should match to the guid of EtwProvider element in MonAgent config file. -->
        <add name="MonitoringAgent" type="Microsoft.Cis.Eventing.Listeners.RDEventMonitoringAgentListener, MonAgentListener" initializeData="{32D75CAE-9F10-437A-B1D0-C1B26FDCC72C}" />
      </sharedListeners>
  </system.diagnostics>
</configuration>